body{background:#f2f2f2;color:#333;font:14px '\5FAE\8F6F\96C5\9ED1',microsoft yahei;overflow-x:hidden;}
a:link,
a:visited,
a:hover,
a:active{text-decoration:none;}
.k-searchBanner{background:#3f98f9;padding:15px 20px;position:fixed;top:0;left:0;right:0;z-index:233;}
.k-searchBanner>a.icon{padding-top:4px;padding-right:20px;float:left;display:block;}
.k-searchBanner>a.icon>img{display:block;width:180px;height:52px;}
.k-searchBanner>.inputBox{overflow:hidden;position:relative;display:block;}
.k-searchBanner>.inputBox div.goSearch{color:#999;height:60px;line-height:60px;border:none;font-size:24px;padding:0 20px;display:block;width:100%;box-sizing:border-box;border-radius:7px;background:#fff;}
.k-searchBanner>.inputBox i{width:30px;height:30px;position:absolute;background:url(../images/k-search.png) no-repeat;top:15px;right:14px;}
@media (max-width:639px){
.k-searchBanner{padding:8px 10px;}
.k-searchBanner>a.icon{padding-top:2px;padding-right:10px;}
.k-searchBanner>a.icon>img{width:90px;height:26px;}
.k-searchBanner>.inputBox div.goSearch{height:30px;line-height:30px;font-size:12px;padding:0 10px;border-radius:4px;}
.k-searchBanner>.inputBox i{width:15px;height:15px;background-size:100%;top:8px;right:7px;}
}

.k-searchBanner2{background:#3f98f9;padding:20px 0;}
.k-searchBanner2.fixed{position:fixed;z-index:2;left:0;right:0;top:0;}
.k-searchBanner2>.inputBox{position:relative;}
.k-searchBanner2>.inputBox input{height:60px;line-height:60px;border:none;font-size:24px;padding:0 50px 0 100px;display:block;width:100%;box-sizing:border-box;border-radius:7px;background:#fff;}
.k-searchBanner2>.inputBox .del{position:absolute;width:30px;height:30px;background:url(../images/k-dg-delSearch.png);display:block;top:16px;right:15px;}
.k-searchBanner2 a.back{display:block;height:60px;padding-left:25px;}
.k-searchBanner2 a.back>img{margin-top:12px;margin-right:35px;width:19px;height:36px;}
.k-searchBanner2 button.search{line-height:60px;height:60px;font-size:32px;color:#fff;margin-left:26px;padding-right:25px;border:none;background:none;}
.k-searchBanner2 .searchBox{position:relative;}
.k-searchBanner2 .searchBox .checkout{position:absolute;padding:0 15px;width:70px;font-size:28px;}
.k-searchBanner2 .searchBox .checkout>a{display:block;color:#666;}
.k-searchBanner2 .searchBox .checkout span{min-width:56px;max-width:56px;height:60px;line-height:60px;overflow:hidden;display:inline-block;text-align:center;}
.k-searchBanner2 .searchBox .checkout i{position:absolute;width:11px;height:6px;background:url(../images/k-dg-search-checkout.png);top:27px;right:10px;}
@media (max-width:639px){
.k-searchBanner2{padding:10px 0;}
.k-searchBanner2>.inputBox input{height:30px;line-height:30px;font-size:12px;padding:0 25px 0 50px;border-radius:4px;}
.k-searchBanner2>.inputBox .del{width:15px;height:15px;background-size:100%;top:8px;right:8px;}
.k-searchBanner2 a.back{height:30px;padding-left:13px;}
.k-searchBanner2 a.back>img{margin-top:6px;margin-right:18px;width:10px;height:18px;}
.k-searchBanner2 button.search{line-height:30px;height:30px;font-size:16px;margin-left:13px;padding-right:13px;}
.k-searchBanner2 .searchBox .checkout{padding:0 8px;width:35px;font-size:14px;}
.k-searchBanner2 .searchBox .checkout span{min-width:28px;max-width:28px;height:30px;line-height:30px;}
.k-searchBanner2 .searchBox .checkout i{width:6px;height:3px;background-size:100%;top:14px;right:5px;}
}

.k-homePage{margin-bottom:30px;}
.k-homePage .lun{overflow:hidden;position:relative;margin-top:90px;}
.k-homePage .lun ul.ad{overflow:hidden;}
.k-homePage .lun ul.ad>li{float:left;}
.k-homePage .lun ul.ad>li a,
.k-homePage .lun ul.ad>li a img{display:block;width:100%;height:300px;}
.k-homePage .lun ul.index{position:absolute;height:16px;bottom:20px;left:0;right:0;text-align:center;}
.k-homePage .lun ul.index>li{width:16px;height:16px;border-radius:8px;background:#fff;opacity:0.3;display:inline-block;margin:0 5px;}
.k-homePage .lun ul.index>li.active{background:#3f98f9;opacity:1;}
.k-homePage .iconPage{background:#fff;overflow:hidden;border-bottom:1px solid #e6e6e6;}
.k-homePage .iconPage li{width:25%;float:left;}
.k-homePage .iconPage li>a{display:block;text-align:center;padding-top:30px;}
.k-homePage .iconPage li>a img{display:inline-block;width:100px;height:100px;}
.k-homePage .iconPage li>a p{color:#333;font-size:24px;line-height:64px;padding-bottom:6px;}
@media (max-width:639px){
.k-homePage{margin-bottom:15px;}
.k-homePage .lun{margin-top:45px;}
.k-homePage .lun ul.ad>li a,
.k-homePage .lun ul.ad>li a img{width:100%;height:150px;}
.k-homePage .lun ul.index{height:8px;bottom:10px;}
.k-homePage .lun ul.index>li{width:8px;height:8px;border-radius:4px;margin:0 3px;}
.k-homePage .iconPage li>a{padding-top:15px;}
.k-homePage .iconPage li>a img{width:50px;height:50px;}
.k-homePage .iconPage li>a p{font-size:12px;line-height:32px;padding-bottom:3px;}
}

.k-footer{border-top:2px solid #3f98f9;background:#fff;}
.k-footer .icons{width:330px;margin:30px auto 0;overflow:hidden;}
.k-footer .icons img.logo1{float:left;padding-right:22px;width:180px;height:52px;}
.k-footer .icons img.logo2{float:right;margin-top:5px;width:104px;height:47px;}
.k-footer .icons .border{height:40px;width:1px;background:#ccc;overflow:hidden;margin-top:10px;}
.k-footer .phone{border-bottom:1px solid #ccc;margin:0 20px;padding-top:34px;padding-bottom:20px;}
.k-footer .phone>a{display:block;color:#666;overflow:hidden;text-align:center;}
.k-footer .phone>a>img{width:316px;height:50px;}
.k-footer .txtBox{text-align:center;}
.k-footer .txtBox>p{font-size:18px;line-height:38px;color:#999;}
.k-footer .txtBox>p:first-child{padding-top:14px;}
.k-footer .txtBox>p:last-child{padding-bottom:20px;}
@media (max-width:639px){
.k-footer{border-top:1px solid #3f98f9;}
.k-footer .icons{width:165px;margin:15px auto 0;}
.k-footer .icons img.logo1{padding-right:11px;width:90px;height:26px;}
.k-footer .icons img.logo2{margin-top:3px;width:52px;height:23px;}
.k-footer .icons .border{height:20px;margin-top:5px;}
.k-footer .phone{margin:0 10px;padding-top:17px;padding-bottom:10px;}
.k-footer .phone>a>img{width:158px;height:25px;}
.k-footer .txtBox>p{font-size:9px;line-height:19px;}
.k-footer .txtBox>p:first-child{padding-top:7px;}
.k-footer .txtBox>p:last-child{padding-bottom:10px;}
}

.k-startShop{background:#fff;border-top:1px solid #e6e6e6;}
.k-startShop .title{font-size:28px;line-height:90px;padding-left:22px;border-left:6px solid #3f98f9;border-bottom:1px solid #e6e6e6;}
.k-startShop .title>a>span{font-size:28px;color:#999;position:relative;padding-right:62px;line-height:90px;}
.k-startShop .title>a>span::after{content:"";width:19px;height:36px;background:url(../images/k-dg-starShop-arrow.png);position:absolute;top:0;right:30px;}
.k-startShop ul.shopList{background:#fff;}
.k-startShop ul.shopList>li{border-bottom:1px solid #e6e6e6;}
.k-startShop ul.shopList>li>a{display:block;padding-right:20px;}
.k-startShop ul.shopList>li>a>img{padding:20px;display:block;width:180px;height:180px;}
.k-startShop ul.shopList>li>a .txtBox .name{font-size:28px;color:#333;line-height:52px;padding-top:18px;max-height:52px;overflow:hidden;white-space:nowrap;}
.k-startShop ul.shopList>li>a .txtBox .place{position:relative;font-size:24px;color:#3f98f9;line-height:48px;padding-bottom:12px;max-height:48px;overflow:hidden;padding-left:30px;white-space:nowrap;}
.k-startShop ul.shopList>li>a .txtBox .place::before{content:"";width:20px;height:26px;position:absolute;background:url(../images/k-dg-mapIcon.png);left:0;top:8px;}
.k-startShop ul.shopList>li>a .txtBox .main{font-size:24px;color:#999;line-height:34px;max-height:68px;overflow:hidden;}
@media (max-width:639px){
.k-startShop .title{font-size:14px;line-height:45px;padding-left:11px;border-left:3px solid #3f98f9;}
.k-startShop .title>a>span{font-size:14px;padding-right:31px;line-height:45px;}
.k-startShop .title>a>span::after{width:10px;height:18px;background-size:100%;right:15px;}
.k-startShop ul.shopList>li>a{padding-right:10px;}
.k-startShop ul.shopList>li>a>img{padding:10px;width:90px;height:90px;}
.k-startShop ul.shopList>li>a .txtBox .name{font-size:14px;line-height:26px;padding-top:9px;max-height:26px;}
.k-startShop ul.shopList>li>a .txtBox .place{font-size:12px;line-height:24px;padding-bottom:6px;max-height:24px;padding-left:15px;}
.k-startShop ul.shopList>li>a .txtBox .place::before{width:10px;height:13px;background-size:100%;top:4px;}
.k-startShop ul.shopList>li>a .txtBox .main{font-size:12px;line-height:17px;max-height:34px;}
}

.k-hotGoods{margin-top:100px;position:relative;}
.k-hotGoods .title{text-align:center;font-size:32px;position:absolute;color:#666;top:-100px;line-height:100px;left:0;right:0;}
.k-hotGoods .title>del{padding:0 12px;font-size:32px;color:#ccc;}
.k-hotGoods .goodsList{border-top:1px solid #e6e6e6;background:#fff;}
.k-hotGoods .goodsList>li{border-bottom:1px solid #e6e6e6;}
.k-hotGoods .goodsList>li>a{display:block;padding-right:20px;}
.k-hotGoods .goodsList>li>a>img{padding:20px;display:block;width:180px;height:180px;}
.k-hotGoods .goodsList>li>a .txtBox .name{font-size:28px;color:#333;padding-top:12px;line-height:42px;height:84px;overflow:hidden;}
.k-hotGoods .goodsList>li>a .txtBox .deputy{font-size:24px;line-height:46px;padding-top:20px;color:#999;max-height:46px;overflow:hidden;}
.k-hotGoods .goodsList>li>a .txtBox .price>div,
.k-hotGoods .goodsList>li>a .txtBox .price{font-size:24px;line-height:56px;color:#999;max-height:56px;overflow:hidden;}
.k-hotGoods .goodsList>li>a .txtBox .price span{font-size:36px;color:#c00;}
.k-hotGoods .goodsList>li>a .txtBox .price>div{color:#3f98f9;position:relative;padding-left:30px;}
.k-hotGoods .goodsList>li>a .txtBox .price>div::before{content:"";width:20px;height:26px;position:absolute;background:url(../images/k-dg-mapIcon.png);left:0;top:14px;}
.k-searchShop .lazyLoad,
.k-hotGoods .lazyLoad{height:190px;line-height:190px;text-align:center;font-size:24px;color:#999;display:block;}
@media (max-width:639px){
.k-hotGoods{margin-top:50px;}
.k-hotGoods .title{font-size:16px;top:-50px;line-height:50px;}
.k-hotGoods .title>del{padding:0 6px;font-size:16px;}
.k-hotGoods .goodsList>li>a{padding-right:10px;}
.k-hotGoods .goodsList>li>a>img{padding:10px;width:90px;height:90px;}
.k-hotGoods .goodsList>li>a .txtBox .name{font-size:14px;padding-top:6px;line-height:21px;height:42px;}
.k-hotGoods .goodsList>li>a .txtBox .deputy{font-size:12px;line-height:23px;padding-top:10px;max-height:23px;}
.k-hotGoods .goodsList>li>a .txtBox .price>div,
.k-hotGoods .goodsList>li>a .txtBox .price{font-size:12px;line-height:28px;max-height:28px;}
.k-hotGoods .goodsList>li>a .txtBox .price span{font-size:18px;}
.k-hotGoods .goodsList>li>a .txtBox .price>div{padding-left:15px;}
.k-hotGoods .goodsList>li>a .txtBox .price>div::before{width:10px;height:13px;background-size:100%;top:7px;}
.k-searchShop .lazyLoad,
.k-hotGoods .lazyLoad{height:95px;line-height:95px;font-size:12px;}
}

.k-hotSearch,
.k-history{padding:0 20px;}
.k-hotSearch .title,
.k-history .title{font-size:28px;color:#999;line-height:36px;padding-top:30px;}
.k-hotSearch ul li,
.k-history ul li{float:left;margin:15px 10px;}
.k-hotSearch ul li a,
.k-history ul li a{text-align:center;padding:0 32px;height:60px;line-height:60px;font-size:28px;color:#666;background:#fff;border-radius:28px;display:block;overflow:hidden;}
@media (max-width:639px){
.k-hotSearch,
.k-history{padding:0 10px;}
.k-hotSearch .title,
.k-history .title{font-size:14px;line-height:18px;padding-top:15px;}
.k-hotSearch ul li,
.k-history ul li{float:left;margin:8px 5px;}
.k-hotSearch ul li a,
.k-history ul li a{padding:0 16px;height:30px;line-height:30px;font-size:14px;border-radius:14px;}
}

.k-searchShop,
.k-searchGoods{margin-top:170px;}
.k-floor{overflow-y:auto;line-height:70px;position:fixed;background:#fff;top:100px;left:0;right:0;z-index:2;box-shadow:0 5px 20px #ecebeb;font-size:28px;}
.k-floor .title{color:#666;}
.k-floor .title>span{padding-left:80px;}
.k-floor .title>i{background:url(../images/k-dg-floor-arrow.png);width:24px;height:13px;display:inline-block;margin-left:8px;transform:translate3d(0,0,0);transform:rotate(360deg);transition:all 0.4s;}
.k-floor .title>i.active{transition:all 0.4s;transform:translate3d(0,0,0);transform:rotate(180deg);}
.k-searchShop{background:#f2f2f2;}
.k-floor ul{background:#fff;border-top:1px solid #e6e6e6;height:0;overflow:hidden;transition:all 0.4s;overflow-y:auto;}
.k-floor ul>li{margin-left:70px;border-bottom:1px solid #e6e6e6;padding-left:10px;}
.k-floor ul>li a{display:block;color:#999;}
.k-floor ul>li span{padding-right:20px;color:#3f98f9;}
.k-floor ul>li:last-child{border:none;}
.k-floor ul>li.active{position:relative;}
.k-floor ul>li.active a{color:#333;}
.k-floor ul>li.active::before{content:"";background:url(../images/k-dg-icon-right.png);width:40px;height:40px;position:absolute;left:-50px;top:15px;}
@media (max-width:639px){
.k-searchShop,
.k-searchGoods{margin-top:85px;}
.k-floor{line-height:35px;top:50px;box-shadow:0 3px 10px #ecebeb;font-size:14px;}
.k-floor .title>span{padding-left:40px;}
.k-floor .title>i{background-size:100%;width:12px;height:6px;margin-left:4px;}
.k-floor ul>li{margin-left:35px;padding-left:5px;}
.k-floor ul>li span{padding-right:10px;}
.k-floor ul>li.active::before{background-size:100%;width:20px;height:20px;left:-25px;top:8px;}
}

.k-emptyList{margin-top:233px;}
.k-emptyList>img{margin:0 auto 100px;display:block;width:473px;height:427px;}
@media (max-width:639px){
.k-emptyList{margin-top:117px;}
.k-emptyList>img{margin:0 auto 50px;width:236px;height:213px;}
}

.k-floorBg{position:fixed;top:0;bottom:0;left:0;right:0;background:#000;opacity:0.3;z-index:1;display:block;}

/* k_returnTop */
.k_returnTop{position:fixed;right:20px;bottom:20px;opacity:0;display:none;}
.k_returnTop .bg{background:#000;width:90px;height:90px;border-radius:45px;opacity:0.2;-webkit-opacity:0.2;}
.k_returnTop .txt{font-size:24px;width:90px;height:90px;color:#fff;position:absolute;top:0;left:0;text-align:center;}
.k_returnTop .txt>i{width:30px;height:30px;display:block;background:url('../images/k-upArrowIcon.png');margin:16px auto 0;}
@media (max-width:639px){
.k_returnTop{right:10px;bottom:10px;}
.k_returnTop .bg{width:45px;height:45px;border-radius:23px;}
.k_returnTop .txt{font-size:12px;width:45px;height:45px;}
.k_returnTop .txt>i{width:15px;height:15px;background-size:100%;margin:8px auto 0;}
}

/* xiewulong */
/* x-topbar */
.x-topbar{position:fixed;top:0;left:0;right:0;z-index:9;height:90px;padding:0 25px;overflow:hidden;-webkit-transition:all .8s ease-out;transition:all .8s ease-out;box-shadow:0 1px 2px rgba(0,0,0,.1);}
.x-topbar a.home{float:right;margin-top:24px;width:38px;height:40px;background:url(../images/bg-x-topbar-a-home.png) no-repeat;}
.x-topbar a.back{float:left;margin:27px 19px 0 0;width:19px;height:36px;background:url(../images/bg-x-topbar-a-back.png) no-repeat;}
.x-topbar h1{overflow:hidden;text-align:center;height:90px;line-height:90px;color:#fff;font-size:32px;font-weight:500;opacity:0;filter:alpha(opacity=0);}
.x-topbar h1 i{display:inline-block;width:24px;height:13px;background:url(../images/bg-x-topbar-h1-i.png) no-repeat;vertical-align:middle;margin:-5px 0 0 10px;-webkit-transition:all .4s ease-out;transition:all .4s ease-out;}
.x-topbar h1 i.active{-webkit-transform:rotate3d(0,0,1,180deg);}
.x-topbar h1 a{display:block;color:#fff;height:100%;}
.x-topbar.x-topbar-static{background-color:#3f98f9;}
.x-topbar.x-topbar-static h1{opacity:1;filter:alpha(opacity=100);}

/* x-store-header */
.x-store-header{position:relative;z-index:1;background-color:#fff;border-bottom:1px solid #e6e6e6;}
.x-store-header .bg{height:200px;overflow:hidden;background-color:#000;position:relative;z-index:1;}
.x-store-header .bg img{opacity:.8;filter:alpha(opacity=80);}
.x-store-header .info{overflow:hidden;margin-top:-100px;position:relative;z-index:2;padding-left:20px;}
.x-store-header .info b{float:left;width:120px;height:120px;overflow:hidden;position:relative;margin-right:20px;}
.x-store-header .info b:after{content:'';position:absolute;left:0;top:0;right:0;bottom:0;border:5px solid rgba(255,255,255,.7);}
.x-store-header .info p{overflow:hidden;line-height:120px;height:120px;font-size:32px;color:#fff;}
.x-store-header .stars{overflow:hidden;padding-left:60px;padding-bottom:5px;}
.x-store-header .stars span{float:left;color:#666;font-size:28px;height:90px;line-height:90px;}
.x-store-header .stars span.pros{width:250px;}
.x-store-header .stars strong{float:left;width:28px;height:26px;background:url(../images/bg-x-store-header-stars-strong.png) no-repeat;margin:31px 0 0 10px;}
.x-store-header .stars strong.on{background-image:url(../images/bg-x-store-header-stars-strong-on.png);}

/* x-store-desc */
.x-store-desc{margin-top:30px;background-color:#fff;border-bottom:1px solid #e6e6e6;}
.x-store-desc .pos{display:block;position:relative;overflow:hidden;padding:25px 80px 25px 55px;color:#3f98f9;font-size:32px;line-height:42px;border-top:1px solid #e6e6e6;word-break:break-all;word-wrap:break-word;white-space:normal;}
.x-store-desc .pos b,
.x-store-desc .pos i{position:absolute;top:50%;}
.x-store-desc .pos b{left:20px;margin-top:-19px;width:28px;height:37px;background:url(../images/bg-x-store-desc-pos-b.png) no-repeat;}
.x-store-desc .pos i{right:30px;margin-top:-18px;width:19px;height:36px;background:url(../images/bg-x-store-desc-pos-i.png) no-repeat;}
.x-store-desc .desc{border-top:1px solid #e6e6e6;}
.x-store-desc .desc strong{font-size:32px;color:#666;display:block;padding-left:20px;border-left:6px solid #3f98f9;height:32px;line-height:32px;font-weight:500;padding-top:28px;}
.x-store-desc .desc p{color:#999;font-size:24px;padding:23px 20px 20px;line-height:34px;}

/* x-products */
.x-products{}
.x-products h3{text-align:center;font-size:32px;color:#666;font-weight:500;height:100px;line-height:100px;}
.x-products h3 span{display:inline-block;position:relative;padding:0 10px;}
.x-products h3 span:before,
.x-products h3 span:after{content:'';position:absolute;height:1px;width:60px;top:50%;margin-top:-1px;background-color:#ccc;}
.x-products h3 span:before{right:100%;}
.x-products h3 span:after{left:100%;}
.x-products ul{overflow:hidden;padding-right:10px;}
.x-products ul li{float:left;width:50%;padding:0 0 10px 10px;box-sizing:border-box;}
.x-products ul li a{display:block;background-color:#fff;border:1px solid #e6e6e6;height:448px;overflow:hidden;}
.x-products ul li a b{display:block;padding:20px;height:265px;overflow:hidden;}
.x-products ul li a p{color:#666;font-size:28px;line-height:38px;padding:0 20px;height:76px;overflow:hidden;}
.x-products ul li a strong,
.x-products ul li a span{display:block;height:46px;line-height:46px;overflow:hidden;padding:15px 20px 0;}
.x-products ul li a strong{color:#c00;font-weight:500;font-size:36px;}
.x-products ul li a span{color:#999;font-size:28px;}

/* x-product */
.x-product{padding-top:90px;background-color:#fff;}
.x-product .focus{overflow:hidden;height:500px;position:relative;}
.x-product .focus ul.index{position:absolute;height:16px;bottom:20px;left:0;right:0;text-align:center;}
.x-product .focus ul.index>li{width:16px;height:16px;border-radius:8px;background:#000;opacity:0.3;display:inline-block;margin:0 5px;}
.x-product .focus ul.index>li.active{background:#3f98f9;opacity:1;}
.x-product .focus ul.list{width:1000%;height:500px;overflow:hidden;}
.x-product .focus ul.list li{float:left;width:640px;text-align:center;overflow:hidden;height:500px;}
.x-product .focus p{position:absolute;text-align:center;left:0;right:0;bottom:20px;}
.x-product .focus p span{display:inline-block;width:15px;height:15px;margin:0 6px;background-color:#b2b2b2;border-radius:50%;overflow:hidden;}
.x-product .focus p span.on{background-color:#3f98f9;}
.x-product .name{font-size:28px;color:#333;padding:0 15px;line-height:48px;padding-top:10px;}
.x-product .price{padding-top:20px;line-height:60px;font-size:24px;color:#999;padding-left:15px;}
.x-product .price em{font-size:32px;color:#c00;font-weight:900;}
.x-product .price strong{font-size:40px;color:#c00;}

/* x-store */
.x-store{margin-top:30px;overflow:hidden;}
.x-store .info{overflow:hidden;position:relative;z-index:2;padding-left:20px;}
.x-store .info b{float:left;width:120px;height:120px;overflow:hidden;position:relative;margin-right:20px;}
.x-store .info p{overflow:hidden;line-height:48px;height:48px;font-size:28px;color:#666;padding-right:20px;}
.x-store .address,
.x-store .stars{background-color:#fff;position:relative;z-index:1;}
.x-store .address{border-top:1px solid #e6e6e6;overflow:hidden;padding:20px 0 0 160px;margin-top:-60px;}
.x-store .address a{float:right;margin:5px 80px 0 0;border:1px solid #ccc;height:58px;line-height:58px;font-size:28px;color:#3f98f9;padding:0 38px 0 77px;background:url(../images/bg-x-store-address-a.png) no-repeat 39px 50%;border-radius:6px;overflow:hidden;}
.x-store .address span{float:left;color:#3f98f9;font-size:24px;padding-left:30px;background:url(../images/k-dg-mapIcon.png) no-repeat 0 50%;line-height:34px;overflow:hidden;}
.x-store .stars{overflow:hidden;padding-left:60px;padding-bottom:5px;border-bottom:1px solid #e6e6e6;}
.x-store .stars span{float:left;color:#666;font-size:28px;height:73px;line-height:73px;}
.x-store .stars span.pros{width:250px;}
.x-store .stars strong{float:left;width:28px;height:26px;background:url(../images/bg-x-store-header-stars-strong.png) no-repeat;margin:25px 0 0 10px;}
.x-store .stars strong.on{background-image:url(../images/bg-x-store-header-stars-strong-on.png);}

/* x-activities */
.x-activities{padding-top:90px;}
.x-activities ul{background-color:#fff;}
.x-activities ul li{border-top:1px solid #e6e6e6;}
.x-activities ul li a{display:block;overflow:hidden;padding:20px;position:relative;}
.x-activities ul li a b{float:left;width:180px;height:180px;overflow:hidden;margin-right:20px;}
.x-activities ul li a h3,
.x-activities ul li a p,
.x-activities ul li a span{overflow:hidden;}
.x-activities ul li a h3{font-size:28px;color:#666;line-height:38px;padding-top:5px;height:76px;font-weight:500;}
.x-activities ul li a p{color:#999;line-height:34px;font-size:24px;height:34px;margin-top:15px;background:url(../images/bg-x-activities-ul-li-a-p.png) no-repeat 0 50%;padding-left:30px;}
.x-activities ul li a span{display:block;line-height:34px;font-size:24px;height:34px;color:#3f98f9;margin-top:10px;background:url(../images/k-dg-mapIcon.png) no-repeat 0 50%;padding-left:30px;}
.x-activities ul li a:after{position:absolute;width:138px;height:139px;background:url(../images/bg-x-activities-ul-li-a-after.png) no-repeat;right:20px;top:60px;}
.x-activities ul li a.expired:after{content:'';}
.x-activities ul li:first-child{border-top:0;}

/* x-activity */
.x-activity{padding-top:90px;margin-bottom:50px;background-color:#fff;}
.x-activity .time{overflow:hidden;color:#999;line-height:44px;font-size:24px;height:44px;margin-left:20px;background:url(../images/bg-x-activities-ul-li-a-p.png) no-repeat 0 50%;padding-left:30px;}
.x-activity .address{display:block;overflow:hidden;line-height:44px;font-size:24px;color:#3f98f9;margin:0 0 15px 20px;background:url(../images/k-dg-mapIcon.png) no-repeat 0 10px;padding-left:30px;}
.x-activity .desc{border:solid #e6e6e6;border-width:1px 0;}
.x-activity .desc h3{height:80px;line-height:80px;color:#333;padding-left:10px;border-left:6px solid #3f98f9;background-color:#f2f2f2;font-size:32px;font-weight:500;}
.x-activity .desc .rich-text{border-top:1px solid #e6e6e6;padding:20px;font-size:24px;line-height:44px;color:#666;}
.x-activity .desc .rich-text img{max-width:100%;}

/* x-list-more */
.x-list-more{cursor:pointer;height:180px;line-height:180px;text-align:center;font-size:24px;color:#999;display:none;}

/* x-floors */
.x-floors{position:fixed;top:90px;left:0;right:0;bottom:0;overflow:hidden;background-color:rgba(0,0,0,.3);z-index:8;display:none;}
.x-floors ul{background-color:#fff;overflow:hidden;max-height:100%;overflow-y:auto;display:none;}
.x-floors ul li{border-top:1px solid #e6e6e6;position:relative;}
.x-floors ul li a{display:block;height:70px;overflow:hidden;margin-left:70px;line-height:70px;font-size:28px;color:#333;}
.x-floors ul li a strong{float:left;font-size:32px;color:#3f98f9;font-weight:500;margin-right:20px;}
.x-floors ul li:first-child{border-top:0;}
.x-floors ul li:after{position:absolute;width:40px;height:40px;background:url(../images/k-dg-icon-right.png) no-repeat;left:15px;top:15px;}
.x-floors ul li.active:after{content:'';}

/* x-map */
.x-map{position:absolute;top:90px;left:0;right:0;bottom:0;z-index:1;overflow:hidden;}
.x-map img{position:absolute;left:50%;top:50%;width:0;-webkit-transition:all .2s ease-out;transition:all .2s ease-out;}

/* x-map-store */
.x-map-store{position:absolute;bottom:0;left:0;right:0;height:160px;overflow:hidden;z-index:2;background:#fff;box-shadow:0 -1px 2px rgba(0,0,0,.1);}
.x-map-store a.pack{float:left;padding:56px 10px 0 30px;font-size:24px;color:#999;width:70px;overflow:hidden;line-height:24px;height:48px;background:url(../images/bg-x-map-store-a-pack.png) no-repeat 10px 50%;box-sizing:border-box;height:100%;}
.x-map-store a.open{width:100%;height:100%;border-radius:50%;overflow:hidden;display:none;}
.x-map-store a.store{overflow:hidden;display:block;background:url(../images/bg-x-map-store-a-store.png) no-repeat 100% 50%;padding:20px 60px 0 0;}
.x-map-store a.store b{float:left;margin-right:20px;}
.x-map-store a.store h3,
.x-map-store a.store p{font-size:32px;line-height:52px;height:52px;overflow:hidden;}
.x-map-store a.store h3{color:#333;font-weight:500;}
.x-map-store a.store p{overflow:hidden;color:#3f98f9;margin-top:10px;padding-left:40px;background:url(../images/bg-x-store-desc-pos-b.png) no-repeat 0 50%;}
.x-map-store-packed{width:92px;height:92px;right:none;left:20px;bottom:20px;overflow:visible;box-shadow:2px 3px 10px rgba(0,0,0,.5);border-radius:50%;}
.x-map-store-packed a.open{display:block;}
.x-map-store-packed a.pack,
.x-map-store-packed a.store{display:none;}

/* x-map-guide */
.x-map-guide{position:fixed;left:0;top:0;bottom:0;right:0;z-index:10;background:rgba(0,0,0,.6) no-repeat 50% 50%;}
.x-map-guide a{position:absolute;bottom:20px;left:20px;right:20px;height:76px;line-height:76px;border-radius:7px;border:2px solid #fff;color:#fff;font-size:32px;text-align:center;}
.x-map-guide-0{background-image:url(../images/bg-x-map-guide-0.png);}
.x-map-guide-1{background-image:url(../images/bg-x-map-guide-1.png);}
.x-map-guide-2{background-image:url(../images/bg-x-map-guide-2.png);}

